h1{font-size:25px;}h2{font-size:21px;}h3{font-size:19px;}p,a{font-size:18px;}a{text-decoration:none;}
ul{list-style:none;}img{width:100%;max-width:185px;max-height:185px;}
input{all:unset;background:rgb(21, 76, 148);cursor:pointer;
    border-radius:10px;padding-left:5px;padding-right:5px;}
input:disabled{background:rgb(13, 48, 94);cursor: not-allowed}
button{all: unset;background:rgb(21, 76, 148);cursor: pointer;border-radius:10px;
    padding-left:5px;padding-right:5px;
}button:disabled {background: rgb(13, 48, 94);cursor:not-allowed}
select{all:unset;background:rgb(21, 76, 148);padding-left:5px;
    padding-right:50px;color:white;border-radius:10px;}
body,a{
    background: rgb(68, 125, 199);
    /* Fonts */
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    /*Positioning|Sizing*/
    margin: 0;
}

.Header {
    background: #2f3133;
    /* Fonts */
    text-align: center;
    /*Positioning|Sizing*/
    padding: 1%;
    margin-bottom: 5%;
    /*Border*/
    border-bottom: solid 10px #1e2529;
}

.ContentBox {
    background: rgb(27, 99, 194);
    /* Fonts */
    text-align: center;
    /*Positioning|Sizing*/
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    width: 40%;
    /*Border*/
    border-radius: 10px;
}

.NavBox {
    background: rgb(51, 125, 222);
    /* Fonts */
    /*Positioning|Sizing*/
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    /*Border*/
    border-radius: 10px;
}

.NavBox a:hover {
    background-color: rgb(255, 255, 255, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}